@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@font-face {
    font-family: 'SF Pro Text';
    src: url("../assets/fonts/SFProText.ttf") format('truetype');
}
@font-face {
    font-family: 'SF Pro Display';
    src: url("../assets/fonts/SFProDisplay.woff") format('woff');
}
/*@font-face {*/
/*    font-family: 'Open Sans';*/
/*    src: url("../assets/fonts/OpenSans-Regular.ttf") format('truetype');*/
/*}*/

@font-face {
    font-family: 'SF Pro Text M';
    src: url("../assets/fonts/SFProTextM.ttf") format('truetype');
}